@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&family=Noto+Sans+Georgian:wght@400;600;800&family=Noto+Serif+Georgian:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans Georgian", sans-serif;
}
body .checked {
  color: #F23005 !important;
}
body .left_arrow svg {
  transform: scaleX(-1);
}
body .logo {
  font-size: 22;
  padding: 10px 0;
  font-weight: 800;
}
body .logo :first-child {
  font-family: "Lora", serif;
  font-family: "Noto Serif Georgian", serif;
  color: #00D4E3;
  font-style: italic;
  text-decoration: none;
}
body .logo :last-child {
  color: #fff;
  font-style: normal;
}
body header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border-bottom: solid 1px #005157;
  background-color: #071111;
}
body header .right-h {
  width: 30%;
  justify-content: space-between;
}
body header .right-h .search form {
  display: flex;
}
body header .right-h .search form input {
  font-family: "Noto Sans Georgian", sans-serif;
  color: #fff;
  padding: 5px;
  width: 90%;
  border: solid #005157 1px;
  border-radius: 5px;
  background-color: transparent;
}
body header .right-h .search form button {
  border: none;
  background-color: transparent;
  margin: 5px 10px;
  color: #005157;
}
body header .right-h .search form button:hover {
  color: #fff;
  transition: 0.2s;
}
body header .right-h .login {
  margin: 20px 0px;
}
body header .right-h .login a {
  text-decoration: none;
  color: #005157;
  font-weight: 600;
  padding: 5px;
  border: solid #005157 1px;
  border-radius: 5px;
}
body header .right-h .login a:hover {
  color: #fff;
  border: solid #fff 1px;
  transition: 0.2s;
}
body menu {
  margin: auto;
  border-bottom: solid 1px #005157;
  background-color: #071111;
  padding: 7px;
}
body menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 20%;
}
body menu ul li {
  display: block;
}
body menu ul li a {
  text-decoration: none;
  color: #005157;
}
body menu ul li a:hover {
  color: #fff;
  transition: 0.2s;
}
body menu ul .active a {
  color: #fff;
}
body .issue-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #040A0A;
  padding: 0 20px;
}
body .issue-nav .issues {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
body .issue-nav .issues a {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
body .issue-nav .issues a span {
  padding: 0 5px;
  display: flex;
  align-items: center;
}
body .issue-nav .issues a svg {
  padding: 10px 0;
  width: 10px;
}
body .issue-nav a {
  text-decoration: none;
  color: #005157;
  fill: #005157;
}
body .issue-nav a:hover {
  color: #fff;
  fill: #fff;
  transition: 0.2s;
}
body .issue-nav a svg {
  padding: 10px;
}
body main {
  margin: 50px auto;
  width: 90%;
}
body main h2 {
  margin: 20px auto;
  font-size: 26px;
  font-weight: bolder;
}
body main .comic-container {
  display: grid;
  grid-gap: 25px;
  width: initial;
}
body main .comic-container .comic-box {
  text-align: center;
  display: inline-block;
}
body main .comic-container .comic-box img {
  width: 100%;
  box-shadow: -1px 3px 12px 2px rgba(0, 0, 0, 0.5882352941);
}
body main .comic-container .comic-box img:hover {
  transition: 0.2s;
  box-shadow: none;
}
body main .comic-container .comic-box .text {
  margin-top: 10px;
  border-top: #005157 solid 1px;
  padding: 5px 0px;
}
body main .comic-container .comic-box .text :hover {
  color: #00D4E3;
}
body main .comic-container .comic-box .text a {
  text-decoration: none;
  color: #071111;
  font-weight: 800;
}
body main button {
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  background-color: #F23005;
  border-radius: 5px;
  color: white;
  font-family: "Noto Sans Georgian", sans-serif;
  padding: 15px 40px;
}
body main button:hover {
  background-color: #c71506;
  transition: 0.2s;
}
body main .issue-holder {
  margin: 30px 20px;
}
body main .issue-holder .issue-info {
  display: flex;
  align-items: center;
  gap: 50px;
}
body main .issue-holder .issue-info .left-section {
  max-width: 350px;
}
body main .issue-holder .issue-info .left-section img {
  height: 100%;
  width: 100%;
  box-shadow: -1px 3px 12px 2px rgba(0, 0, 0, 0.5882352941);
}
body main .issue-holder .issue-info .left-section .rating {
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
body main .issue-holder .issue-info .right-section h1 {
  margin: 10px 0;
}
body main .issue-holder .issue-info .right-section .info {
  margin: 10px 0;
}
body main .issue-holder .issue-info .right-section .info strong {
  font-weight: bold;
  margin-right: 10px;
}
body main .issue-holder .issue-info .right-section .info span, body main .issue-holder .issue-info .right-section .info p {
  color: #005157;
  max-width: 500px;
}
body main .issue-holder .issue-link {
  padding: 10px 0;
  margin: 20px 0;
}
body main .issue-holder .issue-link a {
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  background-color: #00D4E3;
  border-radius: 5px;
  color: white;
  font-family: "Noto Sans Georgian", sans-serif;
}
body main .issue-holder .issue-link a:hover {
  background-color: #005157;
  transition: 0.2s;
}
body section.page header {
  display: block;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  max-height: 120px;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8509803922);
  overflow-y: hidden;
  width: 100%;
  padding: 15px 0;
  z-index: 100;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
body section.page header svg {
  fill: #fff;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 15;
  transform: scaleX(-1);
}
body section.page header h3 {
  font-size: 20px;
}
body section.page .page {
  background-color: #071111;
  width: 100%;
  height: 100%;
  text-align: center;
}
body section.page .page img {
  height: 100%;
  object-fit: contain;
  max-width: 100%;
}
body section.page .zoomed img {
  height: 2500px;
  max-width: none;
}
body section.page footer {
  display: block;
  position: absolute;
  position: fixed;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8509803922);
  overflow-y: hidden;
  width: 100%;
  padding: 15px 0;
  z-index: 100;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
body section.page footer nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
body section.page footer nav li {
  list-style-type: none;
}
body section.page footer nav .zoom-out {
  display: none;
}
body section.page footer nav svg {
  fill: #fff;
  width: 32px;
  height: 32px;
}
body .login-contianer {
  display: flex;
  justify-content: center;
}
body .login-contianer .content {
  width: 400px;
  margin: 80px auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px rgba(227, 227, 227, 0.7490196078);
}
body .login-contianer .content .form-group, body .login-contianer .content .form-group-btn, body .login-contianer .content h2 {
  margin: 10px;
}
body .login-contianer .content .form-group label, body .login-contianer .content .form-group-btn label, body .login-contianer .content h2 label {
  display: block;
  font-size: 16px;
  font-weight: 800;
}
body .login-contianer .content .form-group input, body .login-contianer .content .form-group-btn input, body .login-contianer .content h2 input {
  padding: 10px;
  border: 1px solid #005157;
  border-radius: 5px;
  font-family: "Noto Sans Georgian", sans-serif;
  width: 100%;
  margin: 10px 0;
}
body .login-contianer .content .form-group-btn {
  display: flex;
  justify-content: space-between;
}
body .login-contianer .content a, body .login-contianer .content button {
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  background-color: #00D4E3;
  border-radius: 5px;
  color: white;
  font-family: "Noto Sans Georgian", sans-serif;
}
body .login-contianer .content a:hover, body .login-contianer .content button:hover {
  background-color: #005157;
  transition: 0.2s;
}
body .login-contianer .content .error {
  color: #cc0c0c;
  font-weight: bold;
}
body footer {
  margin: auto;
  padding: 10px 10%;
  align-items: center;
  background-color: #071111;
}
body footer .container {
  display: flex;
  justify-content: space-between;
}
body footer .container .logo span {
  display: block;
}
body footer .container .follow h4 {
  color: #fff;
  font-weight: 600;
  padding: 15px;
}
body footer .container .follow a {
  text-decoration: none;
  color: #005157;
  padding: 5px;
}
body footer .container .follow a:hover {
  color: #fff;
  transition: 0.2s;
}
body footer .container .follow a svg {
  padding: 10px 0;
}
body footer .copy-right {
  color: #005157;
  text-align: center;
  border-top: #005157 1px solid;
  padding: 10px;
  margin: 10px 50px;
}
@media only screen and (min-width: 600px) {
  body .right-h {
    display: flex;
    align-items: baseline;
  }
}
@media only screen and (min-width: 1000px) {
  body .comic-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 1000px) {
  body .comic-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  body .comic-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  body .comic-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  body section.page header svg {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  body .comic-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
