@mixin header() {
    margin: auto;
    padding: 10px;
    border-bottom: solid 1px $gray;
    background-color: $black;
}
@mixin button($bg: $primary) {
    font-size: 16px;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    background-color: $bg;
    border-radius: 5px;
    color: white;
    font-family: $p-font;
}
@mixin bg_image() {
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    background: $primary;
}
@mixin input() {
    padding: 10px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-family: $p-font;
}
@mixin container() {
    padding: 15px;
    border-radius: 15px;
    box-shadow: $shadow;
    width: 100%;
    background-color: #fff;
}