@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&family=Noto+Sans+Georgian:wght@400;600;800&family=Noto+Serif+Georgian:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans Georgian", sans-serif;
}
body .logo {
  font-size: 22;
  padding: 10px 0;
  font-weight: 800;
}
body .logo :first-child {
  font-family: "Lora", serif;
  font-family: "Noto Serif Georgian", serif;
  color: #3fd5c1;
  font-style: italic;
  text-decoration: none;
}
body .logo :last-child {
  color: #ffffff;
  font-style: normal;
}
body header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 10px;
  border-bottom: solid 1px #3b7979;
  background-color: #0c0c0c;
}
body header .right-h {
  width: 30%;
  justify-content: space-between;
}
body header .right-h .search form {
  display: flex;
}
body header .right-h .search form input {
  font-family: "Noto Sans Georgian", sans-serif;
  color: #ffffff;
  padding: 5px;
  width: 90%;
  border: solid #3b7979 1px;
  border-radius: 5px;
  background-color: transparent;
}
body header .right-h .search form button {
  border: none;
  background-color: transparent;
  margin: 5px 10px;
  color: #3b7979;
}
body header .right-h .search form button:hover {
  color: #ffffff;
  transition: 0.2s;
}
body header .right-h .login {
  margin: 20px 0px;
}
body header .right-h .login a {
  text-decoration: none;
  color: #3b7979;
  font-weight: 600;
  padding: 5px;
  border: solid #3b7979 1px;
  border-radius: 5px;
}
body header .right-h .login a:hover {
  color: #ffffff;
  border: solid #ffffff 1px;
  transition: 0.2s;
}
body menu {
  margin: auto;
  padding: 10px;
  border-bottom: solid 1px #3b7979;
  background-color: #0c0c0c;
}
body menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 20%;
}
body menu ul li {
  display: block;
}
body menu ul li a {
  text-decoration: none;
  color: #3b7979;
}
body menu ul li a:hover {
  color: #ffffff;
  transition: 0.2s;
}
body menu ul .active a {
  color: #ffffff;
}
body main {
  margin: 50px auto;
  width: 90%;
}
body main .container-header h2 {
  margin: 20px auto 40px;
  font-size: 26px;
  font-weight: bolder;
  display: inline-block;
}
body main a, body main button {
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  background-color: #3fd5c1;
  border-radius: 5px;
  color: white;
  font-family: "Noto Sans Georgian", sans-serif;
}
body main a:hover, body main button:hover {
  background-color: #3b7979;
  transition: 0.2s;
}
body main .book-container, body main .comic-container, body main .page-container {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px rgba(227, 227, 227, 0.7490196078);
  width: 100%;
}
body main .comic-container, body main .page-container {
  display: flex;
  justify-content: space-between;
}
body main .page-container table {
  width: 100%;
}
body main .page-container table .comic-box {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
body main .page-container table .comic-box textarea {
  padding: 10px;
  border: 1px solid #3b7979;
  border-radius: 5px;
  font-family: "Noto Sans Georgian", sans-serif;
  width: 700px;
}
body main .page-container table .comic-box .actions button {
  width: 100%;
}
body main .form-sub button {
  width: 100%;
  margin: 20px 15px;
  font-size: larger;
  box-shadow: 0px 0px 18px 0px rgba(227, 227, 227, 0.7490196078);
}
body main .comic-box {
  margin: 10px;
}
body main .comic-box td {
  padding: 10px;
}
body main .comic-box img {
  height: 100px;
}
body main .comic-box .title {
  font-weight: 800;
}
body main .comic-box .active {
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  background-color: #3fd5c1;
  border-radius: 5px;
  color: white;
  font-family: "Noto Sans Georgian", sans-serif;
}
body main .comic-box .inactive {
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  background-color: #3b7979;
  border-radius: 5px;
  color: white;
  font-family: "Noto Sans Georgian", sans-serif;
}
body main .comic-box .actions {
  align-items: center;
  height: 100px;
}
body main .comic-box .actions a {
  margin-right: 10px;
}
body main .comic-box .image {
  width: 100px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  background: #3fd5c1;
}
body main form .left-grid {
  width: 40%;
}
body main form .right-grid {
  width: 60%;
}
body main form .form-group {
  margin: 10px;
}
body main form .form-group .image {
  width: 100%;
  height: calc(100% - 270px);
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  background: #3fd5c1;
}
body main form .form-group label {
  display: block;
  font-size: 16px;
  padding: 10px 0;
  font-weight: 800;
}
body main form .form-group input, body main form .form-group textarea, body main form .form-group select {
  padding: 10px;
  border: 1px solid #3b7979;
  border-radius: 5px;
  font-family: "Noto Sans Georgian", sans-serif;
  width: 100%;
}
body main form .form-group button {
  margin-top: 20px;
}
@media only screen and (min-width: 600px) {
  body .right-h {
    display: flex;
    align-items: baseline;
  }
  body .actions {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 900px) {
  body .actions a, body .actions button {
    padding: 10px;
  }
}
@media only screen and (max-width: 599px) {
  body .actions button {
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */