@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&family=Noto+Sans+Georgian:wght@400;600;800&family=Noto+Serif+Georgian:wght@800&display=swap');

@import 'mixins';

$white: #ffffff;
$gray: #005157;
$primary: #00BCC9;
$black: #040A0A;

$p-font: 'Noto Sans Georgian', sans-serif;
$s-font: 'Noto Serif Georgian', serif;

$shadow: 0px 0px 18px 0px #e3e3e3bf;

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: $p-font;

    .logo{
        font-size: 22;
        padding: 10px 0;
        font-weight: 800;
        :first-child {
            font-family: 'Lora', serif;
            font-family: $s-font;             
            color: $primary;
            font-style: italic;
            text-decoration: none;
        }
        :last-child {
            color: $white;
            font-style: normal;
        }
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include header();

        .right-h{
            width: 30%;
            justify-content: space-between;
            .search {
                form{
                    display: flex;
                    input{
                        font-family: $p-font;
                        color: $white;
                        padding: 5px;
                        width: 90%;
                        border: solid $gray 1px;
                        border-radius: 5px;
                        background-color: transparent;
                    }
                    button {
                        border: none;
                        background-color: transparent;
                        margin: 5px 10px;
                        color: $gray;
                        &:hover {
                            color: $white;
                            transition: 0.2s;
                        }
                    }
                }
            }
            .login{
                margin: 20px 0px;
                a{
                    text-decoration: none;
                    color: $gray;
                    font-weight: 600;
                    padding: 5px;
                    border: solid $gray 1px;
                    border-radius: 5px;
                    &:hover {
                        color: $white; 
                        border: solid $white 1px;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
    menu{
        @include header();
        padding: 7px;
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto 20%;
            li{
                display: block;
                a{
                    text-decoration: none;
                    color: $gray;
                    &:hover{
                        color: $white;
                        transition: 0.2s;
                    }
                }
            }
            .active{
                a{
                    color: $white;
                }
            }
        }
    }

    main{
        margin: 50px auto;
        width: 90%;
        .container-header{
            h2{
                margin: 20px auto 40px;
                font-size: 26px;
                font-weight: bolder;
                display: inline-block;
            }
        }
        a, button{
            @include button();
            &:hover {
                background-color: $gray;
                transition: 0.2s;
            }
        }
        .book-container, .comic-container, .page-container{
            padding: 15px;
            border-radius: 15px;
            box-shadow: $shadow;
            width: 100%;
        }
        .comic-container, .page-container{
            display: flex;
            justify-content: space-between;
        }
        .page-container{
            table{
                width: 100%;
                .comic-box{
                    display: inline-flex;
                    justify-content: space-around;
                    width: 100%;
                    align-items: center;
                    textarea{
                        @include input();
                        width: 700px;
                    }
                    .actions{
                        button{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .form-sub{
            button{
                width: 100%;
                margin: 20px 15px;
                font-size: larger;
                box-shadow: $shadow;
            }
        }
        .comic-box{
            margin: 10px;
            td{
                padding: 10px;
            }
            img{
                height: 100px;
            }
            .title{
                font-weight: 800;
            }
            .active{
                @include button();
            }
            .inactive{
                @include button($gray);
            }
            .actions{
                align-items: center;
                height: 100px;
                a{
                    margin-right: 10px;
                }
            }
            .image{
                width: 100px;
                height: 150px;
                @include bg_image();
            }
        }
        form{
            .left-grid{
                width: 40%;
            }
            .right-grid{
                width: 60%;
            }
            .form-group{
                margin: 10px;
                .image{
                    width: 100%;
                    height: calc(100% - 270px);
                    @include bg_image();
                }
                label{
                    display: block;
                    font-size: 16px;
                    padding: 10px 0;
                    font-weight: 800;
                }
                input, textarea, select{    
                    @include input();
                    width: 100%;
                }
                button{
                    margin-top: 20px;
                }
            }
            .shared{
                display: flex;
                justify-content: space-between;
                .child-group{
                    width: 45%;
                }
            }
        }
    }




    @media only screen and (min-width:600px) {
        .right-h{
            display: flex;
            align-items: baseline;
        }
        .actions{
            display: flex;
            justify-content: space-between;
        }
    }
    @media only screen and (max-width:900px) {
        .actions{
            a, button{
                padding: 10px;
            } 
        }
    }
    @media only screen and (max-width:599px) {
        .actions{
            button{
                margin-top: 15px;
            } 
        }
    }
    
}